<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counted words</title>
</head>
<body>


<h1>There are {{ text_list }} words in the given sentence</h1>

<h1>and the maximum used word is {{ maximimusedword }}</h1>

<h2>Your Sentence</h2>
<h3> {{ fulltext }}</h3>

<h1>Max Word: {{ maximimusedword }}</h1>

<a href='{% url "counthome" %}'>Start Again</a>

<!-- !!!!!!!!! range in for loop does not work in here !!!!!!!!!!!-->


<table style="width:25%">
  <tr>
    <th>Word</th>
    <th>Count</th>
  </tr>

{% for name, counts in count_dict %}

  <tr>
    <td>{{ name }}</td>
    <td>{{ counts }}</td>
  </tr>

{% endfor %}

</table>

</body>
</html>